*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: var(--font-primary);
  font-size: 14px;
  background-color: var(--bg-app);
  color: var(--text-primary);
  line-height: 1.5;
  overflow: hidden;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

svg {
  display: block;
}
